<%= turbo_frame_tag dom_id(user) do  %>
  <div class='row'>
    <div class='col'>
      <%= user.email %>
    </div>
    <div class='col'>
      <%= l user.updated_at, format: :short %>
    </div>
    <div class='col'>
      <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
        <%= link_to t('edit'),
            url_for([:edit, user]),
            class: 'btn btn btn-outline-primary',
            method: :get, format: :turbostream,
            data: { turbo: true } %>
      </div>
    </div>
  </div>
<% end %>
